<nav class="navbar navbar-dark bg-dark">
    <div class="container-sm">
        <form [formGroup]="form">
            <input class="form-control"
            type="text"
            placeholder="Enter a Country"
            (blur)="hideDropdown()"
            formControlName='countryName'>
            <div class="autocomplete-listbox" *ngIf="displayDropdown && filteredOptions.length">
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li *ngFor="let option of filteredOptions"><a class="dropdown-item" (mousedown)="selectCountry($event)">{{option}}</a></li>
                </ul> 
            </div>
        </form>        
    </div>    
</nav>